/* Style for the main container */
.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* Style for the header */
.txtHeader {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    margin-bottom: 10px;
}

/* Style for the content area */
.txtContent {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style for character and word count */
#characterCount, #wordCount {
    margin-top: 10px;
    font-size: 14px;
}

/* Style for the search and replace inputs */
#searchInput, #replaceInput {
    width: 150px;
    padding: 5px;
    margin-right: 10px;
}

/* Style for the buttons */
button {
    padding: 5px 10px;
    font-size: 14px;
    margin-right: 10px;
    background-color: #af775d;
}

/* Style for the font color picker */
#fontColorPicker {
    vertical-align: middle;
}

/* Style for the options buttons */
.btn1 {
    font-size: 16px;
    margin: 5px;
}

/* Style for the DOWNLOAD button */
.btn-download {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

/* Style for the options container */
.options {
    text-align: center;
    margin-top: 20px;
}

/* Style for the editor text */
#editor-text {
    display: none; /* Hide the editor text input */
}

/* Style for the output text */
#output-text {
    margin-top: 20px;
    font-size: 18px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
}
body {
    background-image: url('wood-background-large-1024x546.jpg'); /* Replace 'your-image.jpg' with the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
